[submodule "dependencies/eigen"]
	path = dependencies/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "dependencies/args"]
	path = dependencies/args
	url = https://github.com/Taywee/args.git
